.robotoCondensed {
  font-family: "Roboto Condensed", sans-serif !important;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.barlowCondensed {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.cormorant {
  font-family: "Cormorant Garamond", serif;
}
